@model SistemaProduccionAzucar.Models.TableViewModels.FincasViewModel
@{
    ViewBag.Title = "Administración de Fincas";
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <div class="card-tools">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Search" id="inp-search">
                <div class="input-group-append">
                    <div class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="mailbox-controls">
            <div class="btn-group">
                <!---- BOTON PARA AGREGAR FINCA----->
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#agregarFinca">
                    <i class="fa fa-plus"></i>
                    Agregar fincas
                </button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm" onclick="window.location.reload(true);">
                <i class="fas fa-sync-alt"></i>
            </button>
        </div>
        <!-- MOSTRAR TABLAS FINCAS -->
        <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped" id="table-fincas">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Área m²</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fincas in Model.tablaFincas)
                    {
                        <tr>
                            <td>@fincas.cod_finca</td>
                            <td> @fincas.nombre</td>
                            <td>@fincas.direccion</td>
                            <td>@fincas.area_metros_cuadrados</td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm" onclick="mostrarSembrados(@fincas.cod_finca)" data-toggle="modal" data-target="#registroSembrado">
                                    <i class="fas fa-seedling"></i>
                                    Sembrado
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm" onclick="mostrarCortes(@fincas.cod_finca)" data-toggle="modal" data-target="#registroCorte">
                                    <i class="fas fa-cut"></i>
                                    Corte
                                </button>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <span id="codigo" hidden></span>
            <!-- /.table -->
        </div>
        <!-- /.mail-box-messages -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer"></div>
</div>
<!-- /.card -->

<!------------------------------------------------------------
--------------
VENTANAS DE ADMINISTRACION DE FINCAS
---------------
--------------------------------------------------------->
<!-- AGREGAR FINCAS -->
<div class="modal fade" id="agregarFinca" tabindex="-1" aria-labelledby="agregarFinca" aria-hidden="true">
    <div class="modal-dialog">
        <form id="form-agregar-fincas" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarFinca">Agregar finca</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="">
                </div>
                <div class="form-group">
                    <label for="direccion">Dirección:</label>
                    <input type="text" class="form-control" name="direccion" id="direccion" placeholder="">
                </div>
                <div class="form-group">
                    <label for="area">Área m²:</label>
                    <input type="number" class="form-control" name="area" id="area" placeholder="">
                </div>
                <div id="msj-infoFinca" class="alert alert-info d-none" role="alert"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fas fa-save"></i>
                    Guardar
                </button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                    <i class="fas fa-times-circle"></i>
                    Cerrar
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="registroSembrado" tabindex="-1" aria-labelledby="registroSembrado" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registroSembrado">Registro de siembra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="tabla-registro-sembrado" class="table-responsive mailbox-messages">
                    <button type="button" class="btn btn-secondary btn-sm mb-2" data-toggle="modal" data-target="#agregarSembrado">
                        <i class="fa fa-plus"></i>
                        Agregar siembra
                    </button>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="col-1"> Codigo</th>
                                <th class="col-3"> Cantidad Sembrada</th>
                                <th class="col-1"> unidad</th>
                                <th class="col-3"> Cantidad fertilizante </th>
                                <th class="col-1"> unidad</th>
                                <th class="col-3"> Fecha</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                    <i class="fas fa-times-circle"></i>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- AGREGAR REGISTROS A SEMBRADO -->
<div class="modal fade" id="agregarSembrado" tabindex="-1" aria-labelledby="agregarSembrado" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <form id="form-agregar-sembrado" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarSembrado">Agregar siembra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="cantidadSembrada">Cant. sembrada:</label>
                    <input type="number" class="form-control" name="cantidadSembrada" id="cantidadSembrada" placeholder="">
                </div>
                <div class="form-group">
                    <label for="cantidadFertilizante">Cant. fertilizante:</label>
                    <input type="number" class="form-control" name="cantidadFertilizante" id="cantidadFertilizante" placeholder="">
                </div>
                <div id="msj-infoSembrado" class="alert alert-info d-none" role="alert"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fas fa-save"></i>
                    Guardar
                </button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                    <i class="fas fa-times-circle"></i>
                    Cerrar
                </button>
            </div>
        </form>
    </div>
</div>

<!------------------------------------------------------------
    --------------
    VENTANAS DE ADMINISTRACION DE CORTES
    ---------------
    --------------------------------------------------------->
<div class="modal fade" id="registroCorte" tabindex="-1" aria-labelledby="registroCorte" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registroCorte">Registro de cortes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="tabla-registro-corte" class="table-responsive mailbox-messages">
                    <button type="button" class="btn btn-secondary btn-sm mb-2" data-toggle="modal" data-target="#agregarCorte">
                        <i class="fa fa-plus"></i>
                        Agregar corte
                    </button>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="col-1">Codigo</th>
                                <th class="col-3">Cantidad Cortada</th>
                                <th class="col-1">unidad</th>
                                <th class="col-3">Fecha</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                    <i class="fas fa-times-circle"></i>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- AGREGAR REGISTROS A CORTE -->
<div class="modal fade" id="agregarCorte" tabindex="-1" aria-labelledby="agregarCorte" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <form id="form-agregar-corte" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarCorte">Agregar corte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="cantidadCortada">Cant. Cortada:</label>
                    <input type="number" class="form-control" name="cantidadCortada" id="cantidadCortada" placeholder="">
                </div>
                <div id="msj-infoCorte" class="alert alert-info d-none" role="alert"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fas fa-save"></i>
                    Guardar
                </button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                    <i class="fas fa-times-circle"></i>
                    Cerrar
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var fincaS = 0;

        function mostrarSembrados(id) {
            fincaS = id;

            $.post('@Url.Content("~/Fincas/Sembrado")',
            {
                codFinca: id
            },
            (data) => {
                if (data.response == 1) {
                    $('#tabla-registro-sembrado > table > tbody').html('');

                    $.each(data.data, function (i, item) {
                        let row = '<tr>';
                        row += '   <td>' + item.cod_sembrado + '</td>';
                        row += '   <td>' + item.cantidad_sembrado + '</td>';
                        row += '   <td>' + item.unidad_sembrado + '</td>';
                        row += '   <td>' + item.cantidad_fertilizante + '</td>';
                        row += '   <td>' + item.unidad_fertilizante + '</td>';
                        row += '   <td>' + item.fecha_registroStr + '</td>';
                        row += '</tr>';

                        $("#tabla-registro-sembrado > table > tbody").append(row);
                    });

                    /* TABLA SEMBRADO */
                    $("#tabla-registro-sembrado > table").reflowTable();
                }
            });
        }

        function mostrarCortes(id) {
            $.post('@Url.Content("~/Fincas/Cortes")',
            {
                codFinca: id
            },
            (data) => {
                if (data.response == 1) {
                    $('#tabla-registro-corte > table > tbody').html('');

                    $.each(data.data, function (i, item) {
                        let row = '<tr>';
                        row += '   <td>' + item.cod_corte + '</td>';
                        row += '   <td>' + item.cantidad_cortada + '</td>';
                        row += '   <td>' + item.unidad+ '</td>';
                        row += '   <td>' + item.fecha_registroStr + '</td>';
                        row += '</tr>';

                        $("#tabla-registro-corte > table > tbody").append(row);
                    });

                    /* TABLA CORTE */
                    $("#tabla-registro-corte > table").reflowTable();
                }
            });
        }

    $(document).ready(() => {
        // VALIDACION DE FORMULARIO AGREGAR FINCA
        let formAgregarFincas = $("#form-agregar-fincas").validate({
            rules: {
                nombre: {
                    required: true
                },
                direccion: {
                    required: true
                },
                area: {
                    required: true
                },
            },
            messages: {
                nombre: {
                    required: "Ingrese nombres de finca"
                },
                direccion: {
                    required: "Ingrese dirección de finca."
                },
                area: {
                    required: "Ingrese área de finca."
                },
            },
            onchange: true,
            errorClass: "error-validation",
            errorElement: "p",
            errorPlacement: function (error, element) {
                element.parent().append(error);
            }
        });

        $('#form-agregar-fincas').submit((e) => {
            e.preventDefault();
            let values = $('#form-agregar-fincas').serialize();

            if ($('#form-agregar-fincas').valid()) {
                $('#msj-info').addClass('d-none');

                $.post('@Url.Content("~/Fincas/AgregarFinca")', values, (data) => {
                    if (data.response == 1) {
                        window.location.reload(true);
                    } else if (data.response == 0) {
                        $('#msj-info').text(data.message).removeClass('d-none');
                    }
                });
            }
        });

        // VALIDACION DE FORMULARIO AGREGAR SEMBRADO
        let formSembrado = $("#form-agregar-sembrado").validate({
            rules: {
                cantidadSembrada: {
                    required: true
                },
                cantidadFertilizante: {
                    required: true
                },
            },
            messages: {
                cantidadSembrada: {
                    required: "Ingrese cantidad"
                },
                cantidadFertilizante: {
                    required: "Ingrese cantidad."
                },
            },
            onchange: true,
            errorClass: "error-validation",
            errorElement: "p",
            errorPlacement: function (error, element) {
                element.parent().append(error);
            }
        });

        $('#form-agregar-sembrado').submit((e) => {
            e.preventDefault();
            let values = $('#form-agregar-sembrado').serialize();

            if ($('#form-agregar-sembrado').valid()) {
                $('#msj-info').addClass('d-none');

                $.post('@Url.Content("~/Fincas/AgregarSembrado")',values, (data) => {
                    if (data.response == 1) {
                        window.location.reload(true);
                    } else if (data.response == 0) {
                        $('#msj-infoSembrado').text(data.message).removeClass('d-none');
                    }
                });
            }
        });

        // VALIDACION DE FORMULARIO AGREGAR CORTE
        let formAgregarCorto = $("#form-agregar-corte").validate({
            rules: {
                cantidadCortada: {
                    required: true
                },
            },
            messages: {
                cantidadCortada: {
                    required: "Ingrese cantidad"
                },
            },
            onchange: true,
            errorClass: "error-validation",
            errorElement: "p",
            errorPlacement: function (error, element) {
                element.parent().append(error);
            }
        });

        $('#form-agregar-corte').submit((e) => {
            e.preventDefault();
            let values = $('#form-agregar-corte').serialize();

            if ($('#form-agregar-corte').valid()) {
                $('#msj-info').addClass('d-none');

                $.post('@Url.Content("~/Fincas/AgregarCorte")',values, (data) => {
                    if (data.response == 1) {
                        window.location.reload(true);
                    } else if (data.response == 0) {
                        $('#msj-infoCorte').text(data.message).removeClass('d-none');
                    }
                });
            }
        });

        // MODALES
        $("#agregarFinca").on("show.bs.modal", () => {
            $("#agregarFinca").addClass("z-index-modal-overlap");
        });

        $("#agregarFinca").on("hidden.bs.modal", () => {
            $("#agregarFinca").removeClass("z-index-modal-overlap");
            formAgregarFincas.resetForm();
        });

        $("#agregarSembrado").on("show.bs.modal", () => {
            $("#agregarSembrado").addClass("z-index-modal-overlap");
        });

        $("#agregarSembrado").on("hidden.bs.modal", () => {
            $("#agregarSembrado").removeClass("z-index-modal-overlap");
            formSembrado.resetForm();
        });

        // MODALES
        $("#agregarCorte").on("show.bs.modal", () => {
            $("#agregarCorte").addClass("z-index-modal-overlap");
        });

        $("#agregarCorte").on("hidden.bs.modal", () => {
            $("#agregarCorte").removeClass("z-index-modal-overlap");
            formAgregarCorto.resetForm();
        });

        /* REFLOW Y DATATABLE */
        /* TABLA FINCAS */
        $('#table-fincas').reflowTable();
        let tableSearch = $("#table-fincas").DataTable({
            ordering: false,
            info: false,
            searching: true,
            lengthChange: false,
            language: {
                oPaginate: {
                    sNext: '<i class="fas fa-chevron-right"></i>',
                    sPrevious: '<i class="fas fa-chevron-left"></i>'
                }
            },
            drawCallback: (settings) => {
                $('#table-fincas_paginate').addClass('card-footer p-2 d-flex justify-content-end');
                $('#table-fincas_paginate > span').css('padding', '.25rem .5rem');
                $("#table-fincas_previous").addClass('btn btn-default btn-sm');
                $("#table-fincas_next").addClass('btn btn-default btn-sm');
            }
        });

        /* BUSQUEDA*/
        $('#inp-search').keyup(() => {
            let texto = $('#inp-search').val().toLowerCase();

            if (tableSearch != undefined) {
                tableSearch
                    .search(texto)
                    .draw();
            }
        });
    });
    </script>
}